


.public-DraftStyleDefault-ltr {
    padding: 0px 10px;
    height: 10vh;
}
.homeedit button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 0, 0, 0.080);
    color: red;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.homeedit button:hover{
    background-color: red;
    color: #FFF;
}


@media screen and (max-width:600px) {
    .aaa-3{
        height: 500vh;
    }
    .aaa{
        height: 450vh;
    }
    .aaa-1{
        height: 130vh;
    }
}