/* .card{
    background-color: rgba(206, 206, 206, 0.268);
} */
.thumb{
    width: 80px;
    height: 80px;
}
.thumb img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
label{
    font-weight: 600;
}

@media screen and (max-width:600px) {
    .websitefooter{
        height: 300vh;
    }
}