
.containerpro{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    height: auto;
}



.single-product{
    width: 100%;
    position: relative;
}

.single-product .breadcrumb{
    background: #48484810;
    padding: 8px 4px;
    border-radius: 8px;
    font-size: 15px;
}

.breadcrumb span{
    display: inline-flex;
    flex-direction: row;
    gap: 8px;
    margin-left: 8px;
}
.breadcrumb span:not(:last-child)::after{
    content: '/';
}

.breadcrumb span a{
    text-decoration: none;
    color: var(--primary-color);
}

/** product image **/

.single-product .product-image{
    width: 100%;
    /* background-color: red; */
    height: auto;

}

.product-image .product-image-main{
    position: relative;
    display: block;
    height: 250px;
    background: var(--bg-grey);
    padding: 10px;
}

.product-image-main img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.product-image-slider{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin: 10px 0;
    height: auto;
}

.product-image-slider img{
    width: 50px;
    height: 50px;
    background: var(--bg-grey);
    padding: 6px;
    cursor: pointer;
}

/** product title **/

.product-title{
    margin-top: 20px;

}
.product-title h2{
    font-size: 20px;
    line-height: 2rem;
    font-weight: 600;
    letter-spacing: -0.02rem;
    color: #134085;
}

/** product rating **/
.product-rating{
    display: flex;
    margin-top: 2px;
    margin-bottom: 5px;
    align-items: center;
}

.product-rating span:not(:last-child){
    color: #ffc600;
}
.product-rating .review{
    color: var(--grey);
    font-size: 12px;
    font-weight: 500;
    margin-left: 10px;
}
/** Product price **/
.product-price{
    display: flex;
    position: relative;
    margin: 5px 0;
    align-items: center;
}

.product-price .offer-price{
    font-size: 23px;
    font-weight: 700;
}
.product-price .sale-price{
    font-size: 12px;
    font-weight: 500;
    text-decoration: line-through;
    color:#134085;
    margin-left: 12px;
}

/** Product Details **/
.product-details{
    margin: 5px 0;
}
.product-details h3{
    font-size: 15px;
    font-weight: 600;
    color:#134085;

}
.product-details p{
    margin: 5px 0;
    font-size: 12px;
    line-height: 1.2rem;
    color: black;
    font-weight: 600;
}

/** Product size **/
.product-size{
    margin: 5px 0;
}
.product-size h4{
    font-size: 15px;
    font-weight: 600;
    color: #134085;
}

.product-size .size-layout{
    margin: 5px 0;
    display: inline-flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.product-size .size-layout .size-input{
    display: none;
}
.product-size .size-layout .size{
    background: var(--bg-grey);
    padding: 5px 10px;
    border: 1px solid var(--bg-grey);
    border-radius: 4px;
    margin-left: 0px;
    font-size: 12px;
    font-weight: 700;
    cursor: pointer;
}
.product-size .size-layout .size:hover{
    border: 1px solid var(--grey);
}

.product-size .size-layout input[type="radio"]:checked + .size{
    background-color: rgb(35, 35, 35);
    border: 1px solid var(--grey);
    color: white;
    box-shadow: 0 3px 6px var(--shadow);

}


/** Product Color **/
.product-color{
    margin: 5px 0;
    justify-content: center;
}
.product-color h4{
    font-size: 13px;
    font-weight: 600;
    color: #134085;
}
.product-color .color-layout{
    margin: 5px 0;
    display: flex;
    gap: 10px;
}

.product-color .color-layout label{
    border-radius: 4px;
    cursor: pointer;
    content: '';
    width: 30px;
    height: 30px;
    display: inline-block;
}

.product-color .color-layout .black{
    
    background-color: black;
}

.product-color .color-layout .red{
    background-color: red;
}
.product-color .color-layout .blue{
    background-color: blue;
}

.product-color .color-layout input[type="radio"]:checked + label{
    box-shadow: 0 3px 6px var(--shadow);
}

.product-color .color-layout .color-input{
    display: none;
}




@media screen and (max-width:520px) {
    .container{
        padding: 20px;
        height: auto;
    }
    .row{
        display: block;
    }

    .col-6{
        width: 100%;
        display: block;
    }
    .single-product{
        width: 100%;
        position: relative;
    }

    .product-image .product-image-main{
        width: 100%;
        height: 280px;
    }
    .product-image-slider{
        gap: 5px;
    }

    .breadcrumb{
        display: none;
    }

    .product-title h2{
        font-size: 24px;
        line-height: 1.6rem;
    }
    .product-size{
        display: block;
    }
    .product-size .size-layout{
        display: block;
        margin: 10px 0;

    }
    .product-size .size-layout .size{
        padding: 6px 10px;
    }
  
}
.singleproductdetails{
    padding: 20px 10px;
}


.redColor{
    color: red;
}


.greenColor{
    color: green;
}

/** Responsive Tablet **/
@media  (min-width: 520px ) and (max-width: 1080px) {
   .container{
    display: block;
    height: auto;
    padding: 20px;
   }
    
}