@media (max-width: 600px) {
    .GetStarted{
        display: flex;
        flex-direction: column-reverse !important;
        padding: 1rem 0px;
    }
    .playstoreimage{
        margin: 0px;
    }
}